version: "2.6"

services:
  social-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: social-api
    container_name: social-api
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .docker.env
    networks:
      - social-network

  db:
    container_name: social-postgres
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - /data/postgres/
    ports:
      - 5432:5432
    networks:
      - social-network

  redis:
    container_name: social-redis
    image: "redis:alpine"
    ports:
      - "6379:6379"
    networks:
      - social-network

networks:
  social-network:
    driver: bridge
